* {
    margin: 0;
    padding: 0;
    font-family: 'huruf', arial, sans-serif;

}

@font-face {
    font-family: 'huruf';
    src: url(font/rubik-regular-webfont.woff) format('woff');
}

@keyframes muterkiriatas {
    0% {
        transform: rotate(360deg);
    }
    25% {
    }
    50%{

    }
    100% {     
    }
}


@keyframes muterkananatas {
    0% {
        transform: rotate(360deg);
    }
    25% {
    }
    50% {
    }
    100% {     
    }
}


@keyframes muterkiribawah {
    0% {
        transform: rotate(360deg);
    }
    100% {     
    }
}


@keyframes muterkananbawah {
    0% {
        transform: rotate(360deg);
    }
    100% {     
    }
}

.container {
    width: 100%;
    height: 700px;
    background:linear-gradient(to right bottom, #0CCDA3, #C1FCD3);
}

.container:hover .kiri-atas {
    transition: 1s;
    animation: muterkiriatas 2s infinite;
}

.container:hover .kanan-atas {
    transition: 1s;
    animation: muterkananatas 2s infinite;
}

.container:hover .kiri-bawah {
    transition: 1s;
    animation: muterkiribawah 2s infinite;
}

.container:hover .kanan-bawah {
    transition: 1s;
    animation: muterkananbawah 2s infinite;
}
.wrapper {
    width: 93%;
    height: 52px;
    background:linear-gradient(to right bottom, #dfafe9, #91f0e8);
    position: relative;
    border: 1px solid #fff;
    box-shadow: 0px 0px 20px 5px #C1FCD3;
    border-radius: 12px;
    position: relative;
    top: 10px;
    margin: 0px auto;
}

.kiri-atas {
    width: 50px;
    height: 50px;
    background-color: #C1FCD3;
    position: relative;
    top: 180px;
    left: 30px;
    box-shadow: 0px 0px 20px 5px #C1FCD3;
}

.kanan-atas {
    width: 50px;
    height: 50px;
    background-color: #C1FCD3;
    position: relative;
    left: 80%;
    top: 130px;
    box-shadow: 0px 0px 20px 5px #C1FCD3;
}

.kiri-bawah {
    width: 50px;
    height: 50px;
    background-color: #C1FCD3;
    position: relative;
    top: 50px;
    left: 30px;
    box-shadow: 0px 0px 20px 5px #C1FCD3;
}

.kanan-bawah {
    width: 50px;
    height: 50px;
    background-color: #C1FCD3;
    position: relative;
    top: 0px;
    left: 80%;
    box-shadow: 0px 0px 20px 5px #C1FCD3;
}


h1, h2 {
    text-shadow: 0px 2px 13px #0CCDA3;
} 

.firstname a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.firstname a:hover {
    color: #585048;
    transition: 0.4s ease-in-out;
}

.navigation {
    display: flex;
    flex-direction: row;
    
}

.navigation a {
    text-decoration: none;
    color: #fff;
    background-color:#0CCDA3;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid ;
}

.navigation a:hover {
    background-color: #F2F5D0;
    transition: 0.3s ease-in-out;
}

ul {
    margin-left: 41%;
}

li {
    list-style-type: none;
    padding: 15px 5px;
}

.content {
    color: #fff;
}

.content h1 {
    text-align: center;
    padding-top: 200px;
    font-size: 20px;
}

.content h2 {
    text-align: center;
    font-size: 16px;
}



