
/* ----------------------------------- */
/* Font Face*/
@font-face {
    font-family: 'huruf';
    src: url(font/rubik-regular-webfont.woff) format('woff');
}
/* ------------------------------------ */

body {
    font-family: 'huruf', arial, sans-serif;
    text-transform: capitalize;
    background-color: #0CCDA3;

}

a {
    text-decoration: none;
    color: lightblue;
}

h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 5px #fff;
    padding-bottom: 7px;
}

hr {
    animation: hrAnimation 2s infinite;
    transition: 2s;
}

.guru {
    font-size: 22px;
    font-weight: bold;
}

.kotak {
    width: 50px;
    height: 50px;
    background-color: #C1FCD3;
    box-shadow: 0px 0px 20px 5px #C1FCD3;
    position: relative;
    opacity: .8;
}

.a {
    position: relative;
    top:0px;
}

.b {
    position: relative;
    top:0px;
}

.c {
    position: relative;
    top:0px;
}
.d {
    position: relative;
    top:0px;
}

.e {
    position: relative;
    top:0px;
}

.f {
    position: relative;
    top:0px;
}

body:hover .a {
    animation: kotakKiriAtas 8s linear infinite;
}
body:hover .b {
    animation: kotakKiriAtas 8s .2s linear infinite;
}
body:hover .c {
    animation: kotakKiriAtas 8s .4s linear infinite;
}
body:hover .d {
    animation: kotakKiriAtas 8s .6s linear infinite;
}
body:hover .e {
    animation: kotakKiriAtas 8s .8s linear infinite;
}
body:hover .f {
    animation: kotakKiriAtas 8s 1s linear infinite;
}
.top {
    display: flex;
    justify-content: space-evenly;
}
/* Keyframe */
@keyframes hrAnimation {
    0% {
        width: 20%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 20%;
    }
}

@keyframes kotakKiriAtas {
    0% {
        transform: rotate(2160deg);
    }
    25% {

    }
    50% {
        top:1500px;
    }
    100% {     
    }
}































