
/* ----------------------------------- */
/* Font Face*/
@font-face {
    font-family: 'huruf';
    src: url(font/rubik-regular-webfont.woff) format('woff');
}
/* ------------------------------------ */
body {
    background:linear-gradient(to right bottom, #0CCDA3, #C1FCD3);
    font-family: 'huruf', arial, sans-serif;
    
}

.container {
    height: 100vh;
    width: 70%;
    background-color: white;
    box-shadow: 0px 0px 5px 3px grey;
    margin: 40px auto;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    text-shadow: 2px 2px 5px #666;
}

table {
    margin: 20px auto;
}

h3 {
    padding-left: 20px;
    padding-top: 10px;
}

h3 a {
    text-decoration: none;
    color: #fff;
    background-color: #D09573;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid ;
}

h3 a:hover {
    color: #d0d0d0;
    transition: 0.3s ease-in-out;
}













































